<div class="container py-4">
  <div *ngIf="!deleted" class="container mt-3">

  <h5>Meine Liste</h5>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Neue Aufgabe einfügen" aria-label="Neue Aufgabe einfügen" [(ngModel)]="newTask" aria-describedby="button-addon2" (keyup.enter)="addTask()">
    <button class="btn btn-outline-success" type="button" id="button-addon2"  (click)="addTask()">
      <i class="bi bi-plus"></i>
    </button>
  </div>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let task of tasks; let i=index; ">
      {{ task.task }}
        <button class="btn btn-outline-danger me-md-2" type="button" (click)="delete(task._id)">
          <i class="bi bi-x"></i>
        </button>
    </li>
  </ul>
  </div>
</div>
